
body {
    margin: 0;
    background-color: #e7e7e7;
}

a {
    text-decoration: none;
}

/* Sets the style of the top-most banner where the site title lies, not the navbar below */
.siteTitle {
    margin: 0 ;
    padding: 20px 30px;
    font-size: 40px;
    font-weight: 300;
    background-color: #322b3a;
    color: #fcfbff;
}

/* from here till next comment are styles for elements in the the nav-bar */
.navbar {
    background-color: #fcfbff;
    font-size: 20px;
    line-height: 25px;
}

.navlist {
    padding: 0;
    margin: 0 0 0 20px;
}

.navitem {
    display: inline-block;
}

a {
    color: #322b3a;
}

a:hover,
a:focus {
    color: #322b3a;
}

a:focus {
    outline: none;
}

.navlink a {
    padding: 8px 10px;
    display: inline-block;
}

.navlink.active {
    border-bottom: inset;
    border-color:#322b3a;
}

/* the following defines the styles of the week element which contains the day elements*/
.week {
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #322b3a;
    width: 1514px;
}

/* specific padding for the top and bottom week */
.week:first-of-type {
    padding-top: 50px;
}
.week:last-of-type {
    padding-bottom: 50px;
}

/* style for the day elements in the calender */
.day {
    background-color: #fcfbff;
    height: 140px;
    width: 200px;
    display: inline-block;
}

.eventColor {
    flex: none;
    margin-top: 5%;
}

.eventButtons {
    flex: none;
    width: 20%;
    margin-left: 9%;
    display: inline-block;
}

#start {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100px;
    width: 100px;
    background-color: #e7e7e7;
    border:none;
}

/* this is the semi-transparent background of brought up in after the modal-button is hit */
#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    background-color: rgba(0,0,0,.85);
    overflow: scroll;
}

.hidden {
    display: none;
}


/* FROM HERE ON
    classes/id's prefixed with m are pretaining to the modal

*/


/* This is the actual element displayed when modal button is hit */
.mContainer {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fcfbff;
    border-radius: 5px;
    border: double;
    border-color: #322b3a;
}

.mHeader {
    position: relative;
    padding: 10px 20px;
}

.mHeader h3 {
    margin: 0;
    font-size: 30px;
}

/* close modal button styles*/
.mClose{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.mBody {
    padding: 20px;
}

/* elements under eventInput pretain to the input text fields */
.eventInput {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.eventInput label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.eventInput input,
.eventInput textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #e7e7e7;
}

.eventInput textarea {
    min-height: 64px;
}

.mFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

/* bottons in the modal */
.mFooter button {
    font-size: 20px;
    background-color: #fcfbff;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

/* styles specific to the done button in the modal */
.mFooter .mDone {
    border:none;
    background-color: #322b3a;
    color: #fcfbff;
}

.mFooter .mDone:hover {
    background-color: #342b3f;
}

/* c followed by a color are the class names of buttons that will change the color of the event */
.cPurple {
    background-color: purple;
}

.cGreen {
    background-color: green;
}

.cYellow {
    background-color: yellow;
}

/* specific alignment for the event-reminder line, because unlike other input fields, this line also has a button */
.eventRemind label {
    width: 112px;
    margin-right: 22px;
}

.reminderEnabled {
    margin-left:10px;
    background-color: #fcfbff;
}


/* style for the element where event titles are written on each day */
.dayDescrip {
    color: #322b3a;
    padding-left:30px;
    width: 140px;
    Height: 100px;
}

/* style for the button that brings up the modal, there is one on each day */
.dayButton {
    margin-left: 10px;
    margin-top: 10px;
    color: #fcfbff;
    background-color: #322b3a;
    border:none;
}